<header>
    <nav>
        <ul class="nav">
            <li> <a href="/">home</a> </li>
            <li> <a href="/admin/addhome">add home</a> </li>
            <li> <a href="#">contact</a> </li>
        </ul>
    </nav>
</header>